<div class="post">
    <div class="post-head">
        <h3>{{title}}</h3>
    </div>
    <div class="post-body">
        <div class="info-row">
            <span class="post-type">{{type.name}}</span>
            <span class="post-language">{{language.name}}</span>
        </div>
        <div class="info-row2">
            <span class="difficulty">
                Level: {{difficulty.name}} |</span>
            <span class="postData">{{format_date created_at}}</sp>
        </div>
        <div class="data-row">
            <div class="star" title="{{encounter_count}} people has encountered this question">
                <div class="data_icon">
                    <img src="assets/post_icons/eye.svg">
                </div>
                <span>
                    {{encounter_count}}
                </span>
            </div>
            <div class="comment" title="{{comments.length}} {{format_plural " comment" comments.length}}">
                <div class="data_icon">
                    <img src="assets/post_icons/comment.svg" alt="">
                </div>
                <span>
                    {{comments.length}}
                </span>
            </div>
            <div class="star" title="{{star_count}} {{format_person star_count}} starred this question">
                <div class="data_icon">
                    <img src="assets/post_icons/star.svg" alt="">
                </div>
                <span>
                    {{star_count}}
                </span>
            </div>
        </div>
    </div>
</div>
